.blog-body{
  background: url(../Imagenes/cocina.jpeg);
  width: 100%;
  height: 100%;
}
.encabezado{
  min-height: 120px;
  background-color: rgba(170, 235, 252, 0.8);
  text-align: left;
  padding-left: 15px;
  width: 80%;
}
.row{
  background-color: rgba(170, 235, 252, 0.8);
  width: 80%;
}
.izq{
  background-color: rgb(107, 102, 176);
  border-radius: 3px;
  width: 20%;
}
.der{
    background-color: rgb(107, 102, 176);
    border-radius: 3px;
    width: 80%;
}
