body{
background-image: url('../Imagenes/campo.jpg');
background-size: cover;
background-attachment: fixed;
background-position: center top;
}
.encabezado{
  height: 150px;
}
.paisaje{
  margin-top: -35px;
}
