/*estilos del body*/
.blog-body{
  background-color: #F1FCAA;
  margin-right: 5px;
  margin-left: 5px;
}
/*estilos del navbar*/
.encabezado{
  background-color: white;
  min-height: 150px;
}
.logo{
  height: 120px;
  width: 120px;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-top: 10px;
}
.redes{
  margin-right: 10px;
  margin-top: 60px;
}
li{
  display: inline;
  list-style: none;
}
.redes-sociales{
  height: 50px;
  padding: 5px;
}
.menu-enlaces{
  padding: 5px;
  margin-right: 50px;
}
.btn{
  width: 190px;
}
/*contenido*/
.dv2s{
  height: 200px;
  width: 200px;
  padding: 2px;
}
.lospiojs{
  height: 200px;
  width: 200px;
  padding: 2px;
}
