body{
background-image: url('../Imagenes/campo.jpg');
background-size: cover;
background-attachment: fixed;
background-position: center top;
}
.encabezado{
  height: 150px;
}
.paisaje{
  margin-top: -35px;
}
.contenido{
  margin-top: 150px;
}
.collection{
  border: none;
}
.redes-sociales{
  height: 55px;
  width: 55px;
}
.izq{
  width: 90%;
  height: 300px;
}
.centro{
  width: 90%;
  height: 550px;
}
.der{
  width: 90%;
  height: 300px;
}
.drhouse{
  margin-left: 85px;
}
.perfil{
  border-top: 1px solid black;
}
