/*estilos del body*/
.blog-body{
  background-color: #F1FCAA;
}
/*estilos del navbar*/
.encabezado{
  background-color: white;
  height: 150px;
}
.logo{
  height: 120px;
  width: 120px;
  margin-bottom: 60px;
  margin-left: 40px;
}
li{
  display: inline;
  float: right;
  list-style: none;
  margin-top: 60px;
  margin-right: 20px;
}
.redes-sociales{
  height: 50px;
  padding: 5px;
}
.btn{
  width: 190px;
}
/*contenido*/
.dv2s{
  height: 200px;
  width: 200px;
  padding: 2px;
}
.lospiojs{
  height: 200px;
  width: 200px;
  padding: 2px;
}
